# Import The Required Libraries

In [1]:
import json
import re
from pathlib import Path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Load JSON File

In [2]:
JSON_PATH = "result.json"

In [4]:
json_path = Path(JSON_PATH)

raw_text = json_path.read_text(encoding="utf-8")

try:
    # Standard JSON (list or dict)
    data = json.loads(raw_text)
    if isinstance(data, dict) and "messages" in data:
        messages = data["messages"]
    else:
        messages = data
    print(f"Loaded {len(messages)} messages from JSON file.")
except json.JSONDecodeError:
    # Fallback: JSONL
    messages = []
    for i, line in enumerate(raw_text.splitlines(), start=1):
        line = line.strip()
        if not line:
            continue
        try:
            messages.append(json.loads(line))
        except json.JSONDecodeError:
            print(f"Skipping invalid JSON at line {i}")
    print(f"Loaded {len(messages)} messages from JSONL file.")

Loaded 4596 messages from JSON file.

# Flatten Telegram Text

In [6]:
rows = []

for msg in messages:
    # Combine Telegram text or text_entities into a single string
    if isinstance(msg.get("text"), list):
        full_text = "".join(
            t if isinstance(t, str) else t.get("text", "")
            for t in msg["text"]
        )
    elif isinstance(msg.get("text"), str):
        full_text = msg["text"]
    else:
        full_text = ""

    rows.append({
        "message_id": msg.get("id"),
        "date": msg.get("date"),
        "full_text": full_text
    })

records = pd.DataFrame(rows)

# Convert date to datetime (safe conversion)
records["date"] = pd.to_datetime(records["date"], errors="coerce")

records.head()

,message_id,date,full_text
0,1,2021-09-03 13:57:38,
1,12,2021-09-05 00:24:19,#Ø®Ø¨Ø±_Ù…Ù‡Ù…\n\nØ³Ù„Ø§Ù… Ø¨Ù‡ Ù‡Ù…Ù‡â€ŒÛŒ Ø¹Ù„Ù…ÙˆØµÛŒ Ù‡Ø§ğŸ˜ğŸ‘ŠğŸ¾\n\nâœ…Ø§ÛŒÙ†...
2,13,2021-09-05 00:24:25,
3,14,2021-09-05 00:34:39,ğŸ§‘â€ğŸ« Ø³ÛŒØ¯ Ù…Ø­Ù…Ø¯ Ø´Ù‡Ø±ØªØ§Ø´\nğŸ« #Ø¨Ø±Ù‚\nğŸ“’ Ø¨Ø±Ø±Ø³ÛŒ Û±-Ø¨Ø±Ø±Ø³ÛŒÛ²-...
4,15,2021-09-05 00:35:51,ğŸ§‘â€ğŸ« Ø¯Ú©ØªØ± Ù‡Ø§Ø¬Ø± ÙÙ„Ø§Ø­ØªÛŒ\nğŸ« #Ù…Ù‡Ù†Ø¯Ø³ÛŒ_Ú©Ø§Ù…Ù¾ÛŒÙˆØªØ±\nğŸ“’ Ù…Ø¯...

# Extract Professor Name & Department

In [16]:
df = records[3:].copy()
df["professor_name"] = df["full_text"].str.extract(
    r"(?:ğŸ§‘â€ğŸ«\s*)?([^\n\r]+)\n?\s*ğŸ«"
)

df["department"] = df["full_text"].str.extract(
    r"#([^\s#]+)"
)

In [17]:
df[["professor_name", "department"]].head()

     professor_name       department
3   Ø³ÛŒØ¯ Ù…Ø­Ù…Ø¯ Ø´Ù‡Ø±ØªØ§Ø´              Ø¨Ø±Ù‚
4  Ø¯Ú©ØªØ± Ù‡Ø§Ø¬Ø± ÙÙ„Ø§Ø­ØªÛŒ  Ù…Ù‡Ù†Ø¯Ø³ÛŒ_Ú©Ø§Ù…Ù¾ÛŒÙˆØªØ±
5         Ø¹Ù„Ù… Ø§Ù„Ù‡Ø¯ÛŒ      Ù…Ù‡Ù†Ø¯Ø³ÛŒ_Ù…ÙˆØ§Ø¯
6         Ø­Ø¬Øª Ù‚Ø§Ø³Ù…ÛŒ           Ù…Ú©Ø§Ù†ÛŒÚ©
7      ÙØ±ÛŒØ¨Ø±Ø² Ù‚Ø§Ø³Ù…ÛŒ  Ù…Ù‡Ù†Ø¯Ø³ÛŒ_Ú©Ø§Ù…Ù¾ÛŒÙˆØªØ±

# Extract Numeric Ratings (0â€“10)

In [19]:
ratings = {
    "coherence": "Ù¾ÛŒÙˆØ³ØªÚ¯ÛŒ",
    "knowledge": "Ø¯Ø§Ù†Ø´ Ø¹Ù…ÙˆÙ…ÛŒ",
    "teaching": "Ø§Ù†ØªÙ‚Ø§Ù„",
    "management": "Ù…Ø¯ÛŒØ±ÛŒØª",
    "responsiveness": "Ù¾Ø§Ø³Ø®Ú¯ÙˆÛŒÛŒ",
    "behavior": "Ø¢Ø¯Ø§Ø¨ Ùˆ Ø±ÙØªØ§Ø±"
}

for col, label in ratings.items():
    df[col] = (
        df["full_text"]
        .str.extract(fr"{label}[^\d]*(\d{{1,2}})")
        .astype(float)
        .clip(0, 10)
    )

df[list(ratings.keys())].head()

   coherence  knowledge  teaching  management  responsiveness  behavior
3        8.0        9.0       7.0         9.0             8.0      10.0
4        1.0        2.0       1.0         3.0             2.0      10.0
5        9.0        8.0      10.0         9.0            10.0      10.0
6       10.0       10.0       9.0         9.0             9.0       9.0
7        8.0       10.0       8.0        10.0             7.0       9.0